*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: 'Bangers', cursive;;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#title-text{
    /* font-family: 'Bangers', cursive; */
    font-size: 65px;
    text-align: center;
    margin: 0.2em;
}

#title-toby-two{
    /* width: 100px; */
    /* height: 100px; */
    text-align: center;
}

h2{
    color: black;
}

canvas{
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 300; */
    /* background-color: green; */
}

#game-container{
    max-width: 1000px;
    height: 600px;
    background-image: url('./img/GamePlay\ Kitchen\ for\ Tobybig.png');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    margin: 0 auto;
    padding: 0.5em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    grid-template-areas: "top-left top top-right"
                         "game game game"
                         "btm-right btm-right btm-right";
    border: 2px grey solid;
                         
}

#top-left, #top-right, #bottom-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border: 1px black dashed ;
}

#top-left{
    grid-area: top-left;
}

#top-right{
    grid-area: top-right;
}

main{
    grid-area: game;
}

/* #bottom-right{
    grid-area: btm-right;
    width: 80%;
    height: 50px;
    align-items: center;
} */