*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: 'Bangers', cursive;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#title-text{
    /* font-family: 'Bangers', cursive; */
    font-size: 65px;
    text-align: center;
    margin: 0.1em;
}

#title-toby-two{
    /* width: 100px; */
    /* height: 100px; */
    text-align: center;
}


h2 {
    text-decoration: underline;
    
}
#initgame{
    color: black;
    font-family: 'Bangers', cursive;
    font-size: larger;
    border-radius: 0.5em;
    width: 100px;
    height: 50px;
}

#initgame:hover{
    /* background-color: orangered;  */
    background-color: #f9cd79;
}

#how-to{
    text-decoration: underline;
    font-size: 30px;
}

#start-modal{
    position: relative;
    align-items: center;
    text-align: center;

}

#premise{
    text-decoration: none;
    font-size: 40px;
}

canvas{
    width: 780px;
    height: 530px;
}



#game-container{
    max-width: 50em;
    height: 660px;
    background-image: url('./img/GamePlay\ Kitchen\ for\ Tobybig.png');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    margin: 0 auto;
    padding: 0.5em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    /* grid-template-columns: 10.25fr 4.5fr 3.25fr; */
    grid-template-areas: "top-left top top-right"
                         "game game game"
                         "btm-left btm-left btm-left";
    border: 2px black solid;
    border-radius: 0.5em;
                         
}

#top-left, #top-right, #bottom-left, #bottom-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-left{
    grid-area: top-left;
    width: 180px;
    height: 100px;
    color: orangered;
}

#top-right{
    grid-area: top-right;
    width: 180px;
    height: 100px;
    color: orangered;
}

main{
    grid-area: game;
}

#bottom-left{
    grid-area: btm-left;
    width: 100%;
    height: 20px;
    align-items: center;
    text-align: center;
    margin: 1.5em;
}

#bottom-right{
    grid-area: btm-right;
}

#ingame-button{
    color: black;
    font-family: 'Bangers', cursive;
    font-size: larger;
    border-radius: 0.5em;
    width: 100px;
    height: 50px;
}

#ingame-button:hover{
        background-color: orangered;
}

#game-button{
    color: black;
    font-family: 'Bangers', cursive;
    font-size: larger;
    border-radius: 0.5em;
    width: 100px;
    height: 50px;
}
#game-button:hover{
    background-color: orangered;
}

/* .hidden{
    display: none;
} */

#winMessage{
    font-family: 'Bangers', cursive;
    font-size: 60px;
    width: 100%;
    height: 50%;
    text-align: center;
    color: orangered;
    
    /* background-color: lightblue; */
}
#loseMessage{
    font-family: 'Bangers', cursive;
    font-size: 60px;
    width: 100%;
    height: 50%;
    text-align: center;
    color: orangered;
    
    /* background-color: lightblue; */
}
.play-again, .play-againlose{
    color: black;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    border-radius: 0.5em;
    width: 150px;
    height: 75px;
}
.play-again:hover, .play-againlose:hover{
    background-color: orangered;
}

#lose-cat,#belly-cat,#thanks-cat{
    margin: 0;
    width: 500px;
    height: 500px;
}
#gameover,#gamewon{
    margin-bottom: 0;
}

#yellowtoby{
    width: 300px;
    height: 300px;
}